
/* line 286 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */

/* line 1 : /Users/jnordling/projects/br_nordling/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
html {
  -webkit-tap-highlight-color: transparent;
}

/* line 3 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br #outerbox {
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 9 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br #leftPanel {
  background: #fff;
  float: left;
  width: 350px;
  height: 100%;
}

/* line 19 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br #mapArea {
  background: #fff;
}

/* line 22 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br #mapDiv {
  height: 100%;
}

/* line 24 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br .top-bar {
  z-index: 99999999;
}

/* line 27 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.columns {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 31 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
@media screen and (max-width: 500px) {

/* line 32 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
  .br #leftPanel {
    background: #fff;
    z-index: 99999;
    float: left;
    width: 350px;
    height: 100%;
  }
}

/* line 40 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br #PanelToggle {
  background: #fff;
  width: 40px;
  height: 200px;
  top: 0;
  bottom: 0;
  left: 350px;
  background: #808080;
  cursor: pointer;
  position: absolute;
  z-index: 9;
  margin: auto;
  opacity: 0.1;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* line 56 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br #PanelToggle:hover {
  background: #333;
  opacity: 0.2;
}

/* line 60 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br #toggleIcon {
  background: #f00;
  width: 20px;
  height: 20px;
}

/* line 65 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.icon-bar.five-up .item {
  height: 45px;
  width: 70px;
}

/* line 69 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br .right_bars {
  width: 300px;
}

/* line 71 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br .item {
  padding: 0px;
  padding: 7px;
}

/* line 74 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br #rightNavContent {
  overflow: hidden;
}

/* line 76 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br #right_bars_box {
  width: 360px;
}

/* line 79 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br #fillPannel {
  width: 100%;
  display: none;
  min-height: 150px;
  background: #008cba;
  padding: 10px;
}

/* line 85 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br .pageIcon svg {
  fill: #00f;
}

/* line 87 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br .baseMapItem {
  display: inline-block;
  float: none;
  padding: 10px;
  background: none;
}

/* line 92 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br .baseMapThumbnail {
  width: 130px;
  height: 80px;
  box-shadow: 0px 0px 15px #fff;
  cursor: pointer;
}

/* line 97 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br #baseMapGallery {
  white-space: nowrap;
  background: none;
}

/* line 100 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br #gallery_pan_left {
  display: none;
  position: absolute;
  height: 80px;
  top: 64px;
  width: 35px;
  background: #4d4a4a;
  opacity: 0.4;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px #fff;
}

/* line 110 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br #gallery_pan_left:hover {
  opacity: 0.5;
}

/* line 112 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br #gallery_pan_right {
  position: absolute;
  right: 10px;
  width: 35px;
  height: 80px;
  top: 64px;
  background: #4d4a4a;
  opacity: 0.4;
  box-shadow: 6px 0px 11px 0px #fff;
  cursor: pointer;
}

/* line 122 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br #gallery_pan_right:hover {
  opacity: 0.5;
}

/* line 124 : /Users/jnordling/projects/br_nordling/src/app/css/app.styl */
.br #gallery {
  height: 100px;
}
