html 
  -webkit-tap-highlight-color transparent
.br #outerbox
  position absolute 
  top 45px
  bottom 0
  left 0
  right 0
.br #leftPanel
  background  #FFFFFF
  //position  absolute 
  //top  45px
  //bottom  0px
  //left 0px
  float left
  width 350px
  height 100%
  
.br #mapArea
  //float left
  background  #FFFFFF
.br #mapDiv
  height 100%
.br .top-bar
  z-index  99999999

.columns
  padding-left 0px
  padding-right 0px

@media screen and (max-width: 500px)
  .br #leftPanel
    background #FFFFFF
    z-index 99999
    float left
    width 350px
    height 100%
  
  
.br #PanelToggle
  background #FFFFFF 
  width 40px
  height 200px
  top 0
  bottom 0
  left 350px
  background gray
  cursor pointer
  position absolute
  z-index 9
  margin auto
  opacity .1
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  
.br #PanelToggle:hover
  background #333333
  opacity .2

.br #toggleIcon
  background red
  width 20px
  height 20px

.icon-bar.five-up .item
  height 45px
  width 70px

.br .right_bars
  width 300px
.br .item
  padding 0px
  padding 7px
.br #rightNavContent
  overflow hidden
.br #right_bars_box
  // height 45px
  width 360px
.br #fillPannel
  width 100%
  display none
  min-height 150px
  background #008CBA
  padding 10px
.br .pageIcon svg
  fill blue
.br .baseMapItem
  display inline-block
  float none
  padding 10px
  background none
.br .baseMapThumbnail
  width 130px
  height 80px
  box-shadow 0px 0px 15px #fff
  cursor pointer
.br #baseMapGallery
  white-space nowrap
  background none
.br #gallery_pan_left
  display none
  position absolute
  height 80px
  top 64px
  width 35px
  background #4D4A4A
  opacity 0.4
  cursor pointer
  box-shadow: 0px 0px 20px 0px #fff
.br #gallery_pan_left:hover
  opacity .5
.br #gallery_pan_right
  position absolute
  right 10px
  width 35px
  height 80px
  top 64px
  background #4D4A4A
  opacity 0.4
  box-shadow: 6px 0px 11px 0px #fff;
  cursor pointer
.br #gallery_pan_right:hover
  opacity .5
.br #gallery 
  height 100px
  

