header
	nav.top-bar(data-topbar,row="navigation")
		ul.title-area
			li.name
				h1.title
					a(href='#') Blue Raster Template
			li.toggle-topbar.menu-icon
				a(href="#")
					span
		section.top-bar-section
			div#right_bars_box.large-6.columns.right
				div#right_bars.icon-bar.four-up
					a.item#measure
						img.pageIcon(src="app/images/fi-page-multiple.svg")
					a.item#layers
						img.pageIcon(src="app/images/fi-page-multiple.svg")
					a.item#basemap
						img.pageIcon(src="app/images/fi-page-multiple.svg")
					a.item#share
						img.pageIcon(src="app/images/fi-page-multiple.svg")
					div#fillPannel
						div#rightNavContent
			ul.left.show-for-large
				li
					a(href="#")